## Аналитика данных (временных рядов)

In [134]:
import pandas as pd
import numpy as np
import seaborn as sns

In [63]:
df = pd.read_csv('rates_frame_eurusd_H4.csv', index_col=0, delimiter='\t')      # ВЫвод из ФАЙЛА .CSV ; delimiter - это разделитель в файле csv с помошью знака запятой
df_new = df.drop(['tick_volume', 'spread', 'real_volume'], axis=1)     # удаляем 
#print(df)                                                    # index_col=0 - чтобы не отображать unnamed столбца с инднексом в csv файле
# df.tail()    # вывод нескольких строк для обзора содержимонго файла
df_new.head(3)

                  time     open     high      low    close
0  2022-03-07 12:00:00  1.08582  1.09251  1.08060  1.08975
1  2022-03-07 16:00:00  1.08976  1.09324  1.08485  1.08747
2  2022-03-07 20:00:00  1.08748  1.09004  1.08458  1.08533

In [135]:
df_new['sma_22'] = df_new.close.rolling(22).mean()       # создание нового поля содержащего SMA за n-баров
df_new["up"] = np.where(df_new.low > df_new["sma_22"]  , True, False)  # новое поле согласно условиям, если low ниже sma, то присвоим значение True
df_new["down"] = np.where(df_new.close < df_new["sma_22"]  , True, False)  # новое поле
df_new.round(5)   # Округление dataframe
df_new.iloc[230:255]

,time,open,high,low,close,sma_22,up,down
230,2022-04-28 20:00:00,1.05123,1.05158,1.04972,1.04983,1.062071,False,True
231,2022-04-29 00:00:00,1.04976,1.05170,1.04906,1.05163,1.061031,False,True
232,2022-04-29 04:00:00,1.05161,1.05297,1.05051,1.05167,1.060003,False,True
233,2022-04-29 08:00:00,1.05167,1.05927,1.05166,1.05689,1.059338,False,True
234,2022-04-29 12:00:00,1.05692,1.05804,1.05101,1.05313,1.058514,False,True
235,2022-04-29 16:00:00,1.05312,1.05593,1.05186,1.05495,1.057694,False,True
236,2022-04-29 20:00:00,1.05496,1.05789,1.05415,1.05460,1.056867,False,True
237,2022-05-02 00:00:00,1.05421,1.05599,1.05262,1.05289,1.056174,False,True
238,2022-05-02 04:00:00,1.05289,1.05332,1.05168,1.05183,1.055444,False,True
239,2022-05-02 08:00:00,1.05183,1.05681,1.05103,1.05287,1.054850,False,True
240,2022-05-02 12:00:00,1.05287,1.05330,1.05082,1.05108,1.054276,False,True
241,2022-05-02 16:00:00,1.05108,1.05415,1.05023,1.05091,1.053665,False,True
242,2022-05-02 20:00:00,1.05091,1.05114,1.04902,1.05072,1.053016,False,True
243,2022-05-03 00:00:00,1.05070,1.05256,1.04982,1.05251,1.052728,False,True
244,2022-05-03 04:00:00,1.05248,1.05264,1.05016,1.05017,1.052484,False,True
245,2022-05-03 08:00:00,1.05017,1.05277,1.04944,1.05005,1.052201,False,True
246,2022-05-03 12:00:00,1.05004,1.05775,1.04922,1.05675,1.052248,False,False
247,2022-05-03 16:00:00,1.05675,1.05722,1.05118,1.05155,1.052143,False,True
248,2022-05-03 20:00:00,1.05156,1.05403,1.05126,1.05202,1.052157,False,True
249,2022-05-04 00:00:00,1.05186,1.05339,1.05174,1.05243,1.052194,False,False
down,NaN,3810.59994,3817.29922,3803.98018,3810.16440,174.193824,True,False

In [136]:
# df_temp = df_new.iloc[240:255]
df_temp = df_new.copy(deep=True)
# df_temp.loc['total'] = df_temp.sum(numeric_only=None, skipna = True)     # итоговая строка с подсуммированием по всем столбцу 
df_temp.down.sum()   # сумма итого datafarme по столбцу 'down'

162